
<% eventsDivId, videoDivId  = 'events', 'video' %>

<% content_for :sidebar do %>
  <div id="<%= videoDivId %>">&nbsp;</div>
  <a id="previous_song" href="#">Previous</a><a id="next_song" href="#">Next</a>
<% end %>


<% content_for :header_links do %>
  <div id="filters">
    <ul id="time_filters">
      <li><a href="<%= todays_events_path %>">Today</a></li>
      <li><a href="<%= events_by_date_path(:when => 'week') %>">This Week</a></li>
      <li><a href="<%= events_by_date_path(:when => 'month') %>">This Month</a></li>
      <li><a href="<%= events_path %>">Anytime</a></li>
    </ul>
  </div>
<% end %>

<div id="event_wrapper">

<table id="events">
  <% current_date = nil %>
  <% events.each do |event| %>
  <tr class="event_headline">
    <td class="date">
        <%= event.start_date.strftime("%a %b %d") %>
    </td>
    <td>
      <ul class="artists">
      <% event.artists.each do |artist| %>
        <li>
          <%= link_to artist.name, artist, {:class=> "artist"} %>
        </li>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr class="event_byline">
    <td>&nbsp;</td>
    <td>
      <%= link_to event.venue.name, event.venue, {:class => "venue"}%>
      <%= link_to time_of_day(event.start_date), event, {:class => "time"}%>
      <span class="cost"><%= event.price_range_in_words %></span>
    </td>
  </tr>
  <% end %>
</table><!-- end #events -->

</div>

<% content_for(:document_ready) do %>

  <script type="text/javascript">
    $j(document).ready( function() {
      var videoDivId = '<%= videoDivId %>';
      var playlistDivId = '<%= eventsDivId %>';
      var controller = new radio.Controller(videoDivId, playlistDivId);
    });
  </script>

<% end %>
