
<% eventsDivId, videoDivId  = 'events', 'video' %>

<% content_for :sidebar do %>
  <div id="<%= videoDivId %>"></div>
<% end %>

<table id="events">
  <% events.each do |event| %>
  <tr class="event">
    <td class="date"><%= event.start_date.strftime("%a %b %d") %></td>
    <td>
      <ul class="artists">
      <% event.artists.each do |artist| %>
        <li>
          <%= link_to artist.name, artist, {:class=> "artist"} %>
        </li>
      <% end %>
      </ul>
    </td>
  </tr>
  <tr class="venue_and_cost">
    <td>&nbsp;</td>
    <td>
      <%= link_to event.venue.name, event.venue, {:class => "venue"}%>
      <span class="cost"><%= event.price_range_in_words %></span>
    </td>
  </tr>
  <% end %>
</table><!-- end #events -->

<script type="text/javascript">

  $j(document).ready( function() {
    var videoDivId = '<%= videoDivId %>';
    var playlistDivId = '<%= eventsDivId %>';
    var controller = new radio.Controller(videoDivId, playlistDivId);
  });

</script>
