
<div id="venue">

  <div class="name">    <%= @venue.name %>      </div>
  <div class="address"> <%= @venue.address1 %>   </div>
  <span class="city"><%= @venue.city %></span>, 
  <span class="state">   <%= @venue.state %>     </span>
  <div class="phone">   <%= @venue.phone %>     </div>
</div>

<%= render( :partial => "events/events",
            :locals => {:events => @venue.events}) %>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
