<!DOCTYPE html>
<html>
<head>

  <title>My Page</title>
  <%= stylesheet_link_tag 'radio' %>

  <%= javascript_include_tag '3p/prototype' %>
  <%= javascript_include_tag '3p/jquery-1.4.2.min' %>
  <script>
     var $j = jQuery.noConflict()
  </script>

  <%= javascript_include_tag 'radio' %>
  <%= javascript_include_tag 'radio.playlist' %>
  <%= javascript_include_tag 'radio.player' %>

  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <%= link_to 'ShowRadio', root_path, :id=>'logo'%>
    <ul id="nav">
      <li><%= link_to 'Events', events_path %></li>
      <li><%= link_to 'Artists', artists_path %></li>
      <li><%= link_to 'Venues', venues_path %></li>
    </ul>
  </div> <!-- end #header -->

  <div id="main">
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </div><!-- end #main -->

  <div id="footer">
    <% %w{contact copyright about}.each do |l| %>
      <%= link_to l, '#' %>
    <% end %>
  </div>

</body>
</html>
