
<div class="venue">

  <div class="name">    <%= @venue.name %>      </div>
  <div class="address"> <%= @venue.address1 %>   </div>
  <span class="city"><%= @venue.city %></span>, 
  <span class="state">   <%= @venue.state %>     </span>
</div>

<h3>Events</h3>

<% @venue.events.each do |event| %>
  
  <%= event.artists.collect{ |a| a.name }.join(',') %>
  <br>

<% end %>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
