!!! 5
%html
  %head
    - title = "Showbomber"
    - tagline = 'Hear bands playing in New York.'

    %title #{title} - #{tagline}

    %link(rel="shortcut icon" href="/favicon.ico")

    = csrf_meta_tag
    = render 'layouts/webmaster'
    = render 'layouts/stylesheets'

  %body

    #header
      %a#title(href=root_path)= title
      %h1#tagline= tagline

    #main
      #content
        = yield

      - if content_for? :sidebar
        = stylesheet_link_tag 'columns'
        #sidebar
          = yield :sidebar

    #footer
      - links = [[contact_path, 'contact'], [get_uservoice_url, 'feedback'],
                                                  [get_twitter_url, 'twitter']]
      - links.each do |url, text|
        %a(href=url)= text

    = render 'layouts/javascript'
    = render 'layouts/analytics'
