<!DOCTYPE html>
<html>
<head>
  <% title = "Showbomber" %>
  <% tagline = "Hear bands playing in New York." %>
  <title><%= "#{title} - #{tagline}" %></title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- STYLESHEETS -->
  <% if content_for?(:stylesheets) %>
    <%= yield(:stylesheets) %>
  <% else %>
    <%= stylesheet_link_tag 'main' %>
  <% end %>

  <!-- 3P JAVASCRIPT -->
  <% %w{prototype jquery-1.4.2.min swfobject parseUri}.each do |lib| %>
    <%= javascript_include_tag "3p/#{lib}" %>
  <% end %>
  <script>
     var $j = jQuery.noConflict()
  </script>

  <!-- JAVASCRIPT -->
  <% %w{radio radio.playlist radio.controller radio.youtube radio.youtube.player radio.youtube.data}.each do |lib| %>
    <%= javascript_include_tag lib %>
  <% end %>
  <%= csrf_meta_tag %>
  <meta name="google-site-verification" content="<%= google_verification_key %>" />
  <meta name="msvalidate.01" content="BBB3BE1D9FEE3FEF28850686054AA067" />
</head>
<body>

  <div id="header">
    <%= link_to title, root_path, :id=>'title'%>
    <h1 id="tagline"><%= tagline %></h1>
    <% if content_for?(:header_links) %>
      <%= yield(:header_links) %>
    <% end %>
  </div>

  <div id="main">
    <div id="content">
      <%= yield %>
    </div>

    <% if content_for?(:sidebar) %>
      <%= stylesheet_link_tag 'columns' %>
      <div id="sidebar">
        <%= yield(:sidebar) %>
      </div>
    <% end %>
  </div>

  <div id="footer">
    <a href="<%= contact_path %>">contact</a>
    <a href="<%= get_uservoice_url() %>">feedback</a>
    <a href="<%= get_twitter_url() %>">twitter</a>
  </div>

  <% if content_for?(:document_ready) %>
    <%= yield(:document_ready) %>
  <% end %>

  <% if Rails.env.production? %>
    <%= javascript_tag google_analytics_javascript %>
  <% else %>
    <!-- Google Analytics is disabled for this environment. -->
  <% end %>
</body>
</html>
