<!DOCTYPE html>
<html>
<head>
  <% title = "Showbomber" %>
  <% tagline = "Hear bands playing in New York." %>
  <title><%= "#{title} - #{tagline}" %></title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- STYLESHEETS -->
  <% if content_for?(:stylesheets) %>
    <%= yield(:stylesheets) %>
  <% else %>
    <%= stylesheet_link_tag 'main' %>
  <% end %>

  <%= csrf_meta_tag %>

  <%# google and bing webmaster verification keys. %>
  <meta name="google-site-verification" content="VADO3qdrZJTstl_fCDNJRyiqb7dTwybKYdtUVLHcwr4" />
  <meta name="msvalidate.01" content="BBB3BE1D9FEE3FEF28850686054AA067" />
</head>
<body>

  <div id="header">
    <%= link_to title, root_path, :id=>'title'%>
    <h1 id="tagline"><%= tagline %></h1>
    <% if content_for?(:header_links) %>
    <% end %>
  </div>

  <div id="main">
    <div id="content">
      <%= yield %>
    </div>

    <% if content_for?(:sidebar) %>
      <%= stylesheet_link_tag 'columns' %>
      <div id="sidebar">
        <%= yield(:sidebar) %>
      </div>
    <% end %>
  </div>

  <div id="footer">
    <a href="<%= contact_path %>">contact</a>
    <a href="<%= get_uservoice_url() %>">feedback</a>
    <a href="<%= get_twitter_url() %>">twitter</a>
  </div>

  <!-- JAVASCRIPT -->
  <%= javascript_include_tag 'vendor/goog/base.js' %>
  <%= javascript_include_tag 'vendor/jquery-1.4.4.min.js' %>
  <%= javascript_include_tag 'vendor/underscore-min.js' %>
  <%= javascript_include_tag 'vendor/backbone-min.js' %>

  <%= javascript_include_tag 'app.js' %>
  <script type="text/javascript">
    goog.require('showbomber.ready');
  </script>

  <% if content_for?(:document_ready) %>
    <%= javascript_tag do %>
      $(document).ready( function() {
        <%= yield(:document_ready) %>
      });
    <% end %>
  <% end %>

  <% if Rails.env.production? %>
    <%= javascript_tag google_analytics_javascript %>
  <% else %>
    <!-- Google Analytics is disabled for this environment. -->
  <% end %>

</body>
</html>
