<!DOCTYPE html>
<html>
<head>
  <% title = "showbomber" %>
  <% tagline = "Hear bands playing in New York." %>
  <title><%= "#{title} - #{tagline}" %></title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= content_for?(:stylesheets) ? yield(:stylesheets) : stylesheet_link_tag('main') %>

  <% %w{prototype jquery-1.4.2.min swfobject parseUri}.each do |lib| %>
    <%= javascript_include_tag "3p/#{lib}" %>
  <% end %>
  <script>
     var $j = jQuery.noConflict()
  </script>

  <% %w{radio radio.playlist radio.controller radio.youtube radio.youtube.player radio.youtube.data}.each do |lib| %>
    <%= javascript_include_tag lib %>
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <%= link_to title, root_path, :id=>'title'%>
    <h1 id="tagline"><%= tagline %></h1>
  </div>

  <div id="main">
    <p class="notice"><%= notice %></p>
    <%= content_for?(:main) ? yield(:main) : yield %>
  </div><!-- end #main -->

  <div id="footer">
    <a href="<%= contact_path %>">contact</a>
    <a href="<%= get_uservoice_url() %>">feedback</a>
  </div>

  <% if Rails.env.production? %>
    <%= javascript_tag google_analytics_javascript %>
  <% else %>
    <!-- Google Analytics is disabled for this environment. -->
  <% end %>
</body>
</html>
